<ion-header>
  <ion-toolbar>
    <ion-title>
        <ion-icon name="contact"></ion-icon> Sign in
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>                                                 
    <ion-label floating color="primary">Login</ion-label>
    <ion-input type="text" formControlName="login" [(ngModel)]="login"></ion-input>
  </ion-item>
 
  
  <form [formGroup]="signinForm">
 
    <ion-item>                                                 
      <ion-label floating color="primary">Login</ion-label>
      <ion-input type="text" formControlName="login" [(ngModel)]="login"></ion-input>
    </ion-item>
 
    <div class="validation-errors">                           
      <ng-container *ngFor="let validation of messagesDeValidation.login">
        <div class="error-message" *ngIf="signinForm.get('login').hasError(validation.type) 
        && (signinForm.get('login').dirty || signinForm.get('login').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label>Password</ion-label>                 
      <ion-input type="password" formControlName="password" [(ngModel)]="password"></ion-input>
    </ion-item>
   
    <div class="validation-errors">                          
      <ng-container *ngFor="let validation of messagesDeValidation.password">
        <div class="error-message" *ngIf="signinForm.get('password').hasError(validation.type) 
        && (signinForm.get('password').dirty || signinForm.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

  
    <ion-button (click)="test()" [disabled]="!signinForm.valid" shape="round" size="default" color="primary" expand="block">
      <ion-icon name="create"></ion-icon>
      Enregistrer
    </ion-button>
  
  </form>
</ion-content>