<ion-header>
  <ion-toolbar>
    <ion-title>
      Sign in
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <form [formGroup]="signinForm" (ngSubmit)="onSubmit(signinForm.value)">
    <!-- Label Nom -->
    <ion-item>
      <ion-label floating color="primary">Nom</ion-label>
      <ion-input type="text" formControlName="nom" [(ngModel)]="nom_client"></ion-input>
    </ion-item>
    <!-- Mesage d'erreurs -->
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.nom">
        <div class="error-message" *ngIf="signinForm.get('nom').hasError(validation.type) && (signinForm.get('nom').dirty || signinForm.get('nom').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label floating color="primary">Prenom</ion-label>
      <ion-input type="text" formControlName="prenom" [(ngModel)]="prenom_client"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.prenom">
        <div class="error-message" *ngIf="signinForm.get('prenom').hasError(validation.type) && (signinForm.get('prenom').dirty || signinForm.get('prenom').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-button (click)="signin()" [disabled]="!signinForm.valid" shape="round" size="default" color="primary" expand="block">Submit</ion-button>
    <ion-button (click)="StartScanning()" expand="full" color="danger" shape="round" size="default" >dd</ion-button>
  </form>


  
</ion-content>