<ion-header>
  <ion-toolbar>
    <ion-title>Saisie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="saisieForm">
<!-- Label ID Capteur -->
    <ion-item>                                                 
      <ion-label floating color="primary">ID Capteur</ion-label>
      <ion-input type="text" formControlName="id_capteur" [(ngModel)]="id_capteur"></ion-input>
    </ion-item>
    <!-- Message d'erreurs -->
    <div class="validation-errors">                           
      <ng-container *ngFor="let validation of validation_messages.id_capteur">
        <div class="error-message" *ngIf="saisieForm.get('id_capteur').hasError(validation.type) 
        && (saisieForm.get('id_capteur').dirty || saisieForm.get('id_capteur').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

<!-- Label Emplacement -->
    <ion-item>
      <ion-label>N° Emplacement</ion-label>                 
      <!-- <ion-select placeholder="Select One" formControlName="num_emplacement" [(ngModel)]="num_emplacement">
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
      </ion-select>  -->
      <ion-input type="text" formControlName="num_emplacement" [(ngModel)]="num_emplacement"></ion-input>
    </ion-item>
    <!-- Message d'erreurs -->
    <div class="validation-errors">                          
      <ng-container *ngFor="let validation of validation_messages.num_emplacement">
        <div class="error-message" *ngIf="saisieForm.get('num_emplacement').hasError(validation.type) 
        && (saisieForm.get('num_emplacement').dirty || saisieForm.get('num_emplacement').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <!-- Boutons -->
    <ion-button (click)="storeData()" [disabled]="!saisieForm.valid" shape="round" size="default" color="primary" expand="block">
      <ion-icon name="create"></ion-icon>
      Saisie
    </ion-button>
    
    <ion-button (click)="startScanning()" expand="full" color="danger" shape="round" size="default" >
      <ion-icon name="camera" slot="start"></ion-icon>
      QRCode
    </ion-button>
    
  </form>
 
</ion-content>