<ion-header>
  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content class="ion-padding">
  <ion-segment [(ngModel)]="selectedView">
    <ion-segment-button value="saisieSegment">
      <ion-label>Saisie</ion-label>
    </ion-segment-button>
    <ion-segment-button value="updateSegment">
      <ion-label>Mise à jour</ion-label>
    </ion-segment-button>
    <ion-segment-button value="historySegment">
      <ion-label>Historique</ion-label>
    </ion-segment-button>
  </ion-segment> 

  <div [ngSwitch]="selectedView">
    <div *ngSwitchCase="'saisieSegment'">    
      <form [formGroup]="saisieForm">
        <!-- Label ID Capteur -->
        <ion-item>                                                 
          <ion-label floating color="primary">N° Capteur</ion-label>
          <ion-input type="text" formControlName="num_capteur" [(ngModel)]="num_capteur"></ion-input>
        </ion-item>
        <!-- Message d'erreurs -->
        <div class="validation-errors">                           
          <ng-container *ngFor="let validation of messagesDeValidation.num_capteur">
            <div class="error-message" *ngIf="saisieForm.get('num_capteur').hasError(validation.type) 
            && (saisieForm.get('num_capteur').dirty || saisieForm.get('num_capteur').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <!-- Label Emplacement -->
        <ion-item>
          <ion-label>N° Emplacement</ion-label>                 
          <ion-select placeholder="Select One" formControlName="num_emplacement" [(ngModel)]="num_emplacement">
            <ion-select-option value="{{ emplacement }}" *ngFor="let emplacement of array_emplacements" > {{emplacement}} </ion-select-option>
          </ion-select>
        </ion-item>
        <!-- Message d'erreurs -->
        <div class="validation-errors">                          
          <ng-container *ngFor="let validation of messagesDeValidation.num_emplacement">
            <div class="error-message" *ngIf="saisieForm.get('num_emplacement').hasError(validation.type) 
            && (saisieForm.get('num_emplacement').dirty || saisieForm.get('num_emplacement').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <!-- Boutons -->
        <ion-button (click)="saveFormData();" [disabled]="!saisieForm.valid" shape="round" size="default" color="primary" expand="block">
          <ion-icon name="create"></ion-icon>
          Enregistrer
        </ion-button>
        
        <ion-button (click)="startScanning()" expand="full" color="danger" shape="round" size="default" >
          <ion-icon name="camera" slot="start"></ion-icon>
          QRCode
        </ion-button>
      
      </form>
    </div>
 
    <div *ngSwitchCase="'updateSegment'">


     <ion-row *ngFor="let aRecord of recordList;  let i = index">
       <ion-col>
         <ion-item>Enregistrement {{i}} </ion-item>
       <ion-input [(ngModel)]="aRecord.numCapteur"></ion-input>
         <ion-input [(ngModel)]="aRecord.numEmplacement"></ion-input>
         <ion-button (click)="updateEntityLine(i,aRecord.numCapteur,aRecord.numEmplacement)" shape="round" size="default" color="primary" expand="block">
           <ion-icon name="create"></ion-icon>
           UPDATE
         </ion-button>
         <ion-button (click)="deleteEntityLine(i)"shape="round" size="default" color="primary" expand="block">
           <ion-icon name="create"></ion-icon>
           delete
         </ion-button>
       </ion-col>

   
   
     </ion-row>
 </div>
    
 <div *ngSwitchCase="'historySegment'">

  <ion-row *ngFor="let aRecord of recordList">
    <ion-col (click)="showDetails(aRecord);">
      <h2>{{ aRecord.numCapteur }} - {{ aRecord.numEmplacement }}</h2> </ion-col>
  </ion-row>
 </div>

</div>  
</ion-content>